<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="navMenu :: navMenuHeader"></header>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publishing Houses</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="bookModel" type="edu.hneu.kpp.lab2.spring.dao.entity.BookEntity"*/-->
    <tr>
        <td th:text="${bookModel.title}"></td>
        <td th:text="${bookModel.authorEntity}"></td>
        <td>
            <th:block th:each="pHouse:${bookModel.publishingHouseEntities}">
                <a th:href="@{/pubHouseController(id=${pHouse.id})}" th:text="${pHouse.name}"></a>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
