<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="bookListModel" type="java.util.List"*/-->
    <!--/*@thymesVar id="book" type="edu.hneu.kpp.lab2.spring.dao.entity.BookEntity"*/-->
    <tr th:each="book:${ bookListModel}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
